body{
    background-color: #E6CCB2;
    margin: 0;
    font-family: sans-serif;
    font-size: medium;
    padding: 50px 50px;
}


a:link{
    text-decoration: none;
    color: black;
}


/* Stile per l'elemento principale della pagina */
.main-page {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contenitore per l'elenco dei prodotti */
.elenco-prodotti {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Stile per il box del singolo prodotto */
.box-prodotto {

    padding: 15px;
    text-align: center;
    width: 200px;
}

/* Stile per l'immagine del prodotto */
.product-image {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Stile per il nome del prodotto */
#product-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

/* Stile per il prezzo del prodotto */
#product-price {
    font-size: 14px;
    color: #000000;
    margin: 5px 0;
}

/* Stile per il pulsante "Aggiungi al carrello" */
.add-to-cart.button {
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FAEDCD;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 7px solid black;
    border-bottom: 10px solid black;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart.button:hover {
    background-color: #fce4a7;
}

/* Stile per l'intestazione nel caso non ci siano prodotti disponibili */
h3 {
    font-size: 18px;
    color: #000000;
}
